.about-container{
display: grid;
height: 90vh;
width: 100vw;
justify-items: center;
text-align: center;
}

.img img{
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.facts-title h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 7vh;
    font-weight: 200;
}

.facts-description p{
    font-size: 3vh;
}

.facts-description p {
    font-size: 3.5vh;
}

.facts-description span{
    font-weight: bold;
}

.paragraph-item {
    display: grid;
    justify-self: center;
    align-self: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 80vw;
    padding: 5vh;
    place-items: center;
}

.paragraph-item span{
    color: rgb(180, 68, 245);
}

.paragraph-item h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 8vh;
    font-weight: 400;
}

@media screen and (max-width: 700px){
.about-container{
    grid-template-columns: 1;
    grid-template-rows: repeat(2,1fr);
}

.facts-title h3{
    font-size: 6vh;
}

.facts-description p{
    font-size: 3vh;
}
};
    
