* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#topnav {
    display: flex;
    position: relative;
    justify-content: center;
    justify-content: space-around;
    font-family: "Josefin Sans", sans-serif;
    background-color: white;
    font-weight: 280;
    align-items: center;
    padding: 0 1em;
    height: 10vh;
    width: 100vw;
}

.menu {
    display: flex;
    position: static;
    font-size: 2.4vh;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
}

.menu li a {
    margin: 0 2vw;
    color: black;
    text-decoration: none;
    position: relative;
}

.menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 0.04em;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -2px;
    left: 50%;
    transition: width 0.1s ease-in-out, left 0.1s ease-in-out;
}

.menu li a:hover::after {
    transform: scale(1.2);
    width: 100%;
    left: 0;
}

.logo {
    width: 7vh;
}

.topnav ul li {
    list-style: none;
}

#nav-toggle {
    display: none;
}

.ham-menu {
    display: none;
}

@media screen and (max-width: 1000px){
    menu{
        font-size: 2vh;
    }
}

@media screen and (max-width: 815px) {
    .ham-menu {
        display: block;
        position: absolute;
        right: 5%;
        font-size: 6vh;
        z-index: 1;
    }

    .menu li {
        position: static;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        font-family: 'Josefin Sans', sans-serif;
        background-color: rgb(173, 171, 171);
        gap: 5%;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 100%;
        text-align: center;
        font-size: 5vh;
        overflow: hidden;
        transition: all 0.5s;
    }

    #nav-toggle:checked~.menu {
        padding-top: 25vh;
        padding-bottom: 2vh;
        bottom: 0;
    }

    .logo{
        display: flex;
        margin-right: auto;
    }
}